<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Edit Review</title>
</head>
<body>
    <header class="container d-flex justify-content-between align-items-center">
        <h1>Movie Critic</h1>
        <div class="w-25 d-flex gap-4">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </header>
    <main class="container">
        <h4>Edit {{review.title}}</h4>
        <form action="/review/update" method="post" class="form">
            <input type="hidden" name="user_id" value="{{review.user.id}}">
            <input type="hidden" name="id" value="{{review.id}}">

            <div class="form-group">
                <label for="title">Title: </label>
                <input type="text" name="title" value="{{review.title}}"  placeholder="Title" class="form-control">
            </div>

            <div class="form-group">
                <label for="rating">Rating: </label>
                <input type="number" name="rating" value="{{review.rating}}" class="form-control" min="0" max="10">
            </div>

            <div class="form-group">
                <label for="date_watched">Date Watched: </label>
                <input type="date" name="date_watched" value="{{review.date_watched}}"  class="form-control">
            </div>

            <div class="form-group">
                <label for="content">Content: </label>
                <textarea name="content"  cols="30" rows="10" class="form-control">{{review.content}}</textarea>
            </div>

            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </main>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>