<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    
    <header class="container d-flex justify-content-between align-items-center">
        <h1 class="w-75">Add new recipe</h1>

        <div class="container d-flex justify-content-between w-25 align-items-center">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </header>

    <main class="container">
        <form action="/recipe/add" method="post" class="d-flex justify-content-between gap-5">
            <input type="hidden" name="user_id" value="{{session['user_id']}}">

            <div class="w-75">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description: </label>
                    <textarea name="description" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="instructions">Instructions: </label>
                    <textarea name="instructions" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            <div class="w-25">
                <div class="form-group">
                    <label for="date">Made On: </label>
                    <input type="date" name="date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="under_30">Under 30 Minutes? </label>
                    <div class="d-flex justify-content-start gap-1">
                        <input type="radio" name="under_30" value="1" >
                        <span>YES</span>
                    </div>
                    <div class="d-flex justify-content-start gap-1">
                        <input type="radio" name="under_30" value="0" >
                        <span>No</span>
                    </div>
                </div>
            </div>
        </form>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>